<div class="container"> <!-- Profile (not yours) View -->

<div class="row">
  <div class="page-header">
    <h3>Flutter Profile</h3>
  </div>

  <div class="alert alert-info" ng-show="alertMsg">
    <span>{{ alertMsg }}</span>
  </div>

  <div class="col-md-3 col-md-offset-1">
    <div class="thumbnail">
      <img ng-src="{{ user.profPicUrl }}" alt="Profile Pic"/>
      <div class="caption">
        <p>
            <h4>{{ user.dispName }}</h4>
            <small>{{ user.username }}</small><br/>
        </p>
        <p>{{ user.tagline }}</p>
        <p>
        <span class="glyphicon glyphicon-user"></span>
        <span>Followers: {{ user.followers.count }}</span><br/>
        <span class="glyphicon glyphicon-user"></span>
        <span>Following: {{ user.following.count }}</span><br/>
        <span class="glyphicon glyphicon-calendar"></span>
        <small>Joined: {{ user.joinDate | date:'MMMM yyyy' }}</small>
        </p>
        <a ng-click="followUser()" role="button"
            class="disabled btn btn-primary btn-sm btn-block">Follow User</a>
      </div> <!-- caption -->
    </div> <!-- thumbnail -->
  </div> <!-- col-md-3 -->

  <div class="col-md-6">
    <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr><th><center>Fluts by {{ user.username }}<center></th></tr>
      </thead>
      <tbody>
        <tr ng-repeat="flut in fluts">
        <td>{{ flut.text }}<br/>
          <small>[{{ flut.likes.count }}] -- 
            {{ flut.postDate | date:"H:mm:ss dd-MMM ''''yy Z" }}</small>
        </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div> <!-- col-md-6 -->

</div> <!-- row -->

</div> <!-- END Profile View -->

