<div class="container"> <!-- TimeLine View -->

<div class="row">
  <center><h3>CREATE A FLUT</h3></center>

  <div class="col-md-3">
    <div class="thumbnail">
      <img ng-src="{{ user.profPicUrl }}" alt="Profile Pic"/>
      <div class="caption">
        <p>
          <h3><a ng-href="#!/profile/{{ user.username }}">{{ user.dispName }}</a></h3>
          <span>{{ user.tagline }}</span><br/>
        </p>
      </div> <!-- caption -->
    </div> <!-- thumbnail -->
  </div> <!-- col -->

  <div class="col-md-8 col-md-offse-2">
    <div class="well">
      <div class="col-md-8 col-md-offset-1">
        <input ng-model="flutText" placeholder="Enter Flut" class="form-control" type="text"/>
      </div>
      <button ng-click="submitFlut()" class="btn btn-primary">Submit</button>
    </div>
  </div>
</div> <!-- row -->

<div class="row">
<center><h3>CURRENT TIMELINE</h3></center>
<div class="table-responsive">
<table class="table table-striped">
  <thead><tr>
    <th>USER</th>
    <th>FLUT</th></tr>
  </thead>
  <tbody>
    <tr ng-repeat="flut in fluts">
      <td>{{ flut.username }}</td>
      <td>{{ flut.text }}<br/>
        <small>[{{ flut.likes.count }}] -- 
                {{ flut.postDate | date:"H:mm:ss dd-MMM ''''yy Z" }}</small>
      </td>
    </tr>
  </tbody>
</table>
</div>
</div> <!-- row -->

</div> <!-- END Timeline View -->

