<div class="container"> <!-- Timeline/Profile View -->

<div class="row">
  <div ng-show="succMsg" class="alert alert-success"><span>{{ succMsg}}</span></div>
  <div ng-show="errMsg" class="alert alert-danger"><span>{{ errMsg }}</span></div>
  <div ng-show="infoMsg" class="alert alert-info"><span>{{ infoMsg }}</span></div>

  <!-- PROFILE BOX -->
  <div class="col-md-3">
    <div class="thumbnail">
      <img ng-src="{{ profile.profPicUrl }}" alt="Profile Pic"
            style="height: 200px; width: 200px; border-radius: 25px"/>
      <div class="caption">
        <center><h3>{{ profile.dispName }}</h3></center>
        @<i>{{ profile.username }}</i>
        <p>{{ profile.tagline }}</p>
        <br/>
        <p>
          <span class="glyphicon glyphicon-user"></span>
          <span>Followers: {{ profile.followers.count }}</span>
          &#160; &#160;
          <span class="glyphicon glyphicon-user"></span>
          <span>Following: {{ profile.following.count }}</span><br/>
          <center><small><span class="glyphicon glyphicon-calendar"></span>
                Joined: {{ profile.joinDate | date:'dd MMMM yyyy' }}</small>
          </center>
        </p>
        <div ng-if="isProfile">
          <button ng-click="followUser()" ng-if="!isFollowing" role="button"
            class="btn btn-primary btn-sm btn-block">Follow User</button>
          <button ng-click="unfollowUser()" ng-if="isFollowing" role="button"
            class="btn btn-warning btn-sm btn-block">Unfollow User</button>
        </div>
      </div> <!-- caption -->
    </div> <!-- thumbnail -->
  </div> <!-- col-PROFILE BOX -->

  <div class="col-md-9">
    <!-- SUBMIT FLUT BOX -->
    <div class="well" ng-show="!isProfile">
      <div class="row">
        <div class="col-md-10">
          <input ng-model="flutText" placeholder="Enter Flut" class="form-control" type="text"/>
        </div>
        <div class="col-md-2">
          <button ng-click="submitFlut()" class="btn btn-primary" role="button">Submit</button>
        </div>
      </div>
    </div><!-- col-SUBMIT FLUT -->

    <!-- FLUT TIMELINE -->
    <div class="container-fluid">
      <div class="row">
        <center>
          <h3 ng-show="isProfile">Fluts by {{ profile.username }}</h3>
          <h3 ng-show="!isProfile">Flut Timeline</h3>
        </center>
        <hr/>
      </div>

      <div ng-repeat="flut in fluts" class="media">
        <div class="well">
          <div class="media-left media-middle">
            <a ng-href="#!/profile/{{ flut._user.username }}">
              <img ng-src="{{ flut._user.profPicUrl }}" alt="Profile Pic"
                class="media-object img-rounded" style="height: 58px; width: 58px"/>
              <h4>{{ flut.username }}</h4>
            </a>
          </div> <!-- media-img -->
          <div class="media-body">
            <!-- <h4 class="media-heading"></h4> -->
            <div class="well well-sm" style="border: none;">{{ flut.text }}</div>
            <div class="text-right">
              <button ng-click="likeFlut(this.flut)" class="btn btn-link">
                <span class="glyphicon glyphicon-star-empty"></span>
                <span>{{ flut.likes.count }}</span>
              </button>
              &#160; &#160;
              <small>
                <span class="glyphicon glyphicon-time"></span> 
                {{ flut.postDate | date:"H:mm, dd-MMM ''''yy" }}
              </small>
            </div> <!-- right -->
          </div> <!-- media-body -->
        </div> <!-- well -->
      </div> <!-- ng-repeat -->

    </div> <!-- container -->

  </div> <!-- col-TIMELINE -->

</div> <!-- row -->
</div> <!-- END View -->


