<div class="container"> <!-- Profile-Editor View -->
<div class="row">
  <div ng-show="succMsg" class="alert alert-success"><span>{{ succMsg}}</span></div>
  <div ng-show="errMsg" class="alert alert-danger"><span>{{ errMsg }}</span></div>
  <div ng-show="infoMsg" class="alert alert-info"><span>{{ infoMsg }}</span></div>

  <!-- PROFILE BOX -->
  <div class="col-md-3">
    <div class="thumbnail">
      <img ng-src="{{ user.profPicUrl }}" alt="Profile Pic"
            style="height: 200px; width: 200px; border-radius: 25px"/>
      <div class="caption">
        <center><h3>{{ user.dispName }}</h3></center>
        @<i>{{ user.username }}</i>
        <p>{{ user.tagline }}</p>
        <br/>
        <p>
          <span class="glyphicon glyphicon-user"></span>
          <span>Followers: {{ user.followers.length }}</span>
          &#160; &#160;
          <span class="glyphicon glyphicon-user"></span>
          <span>Following: {{ user.following.length }}</span><br/>
          <center><small><span class="glyphicon glyphicon-calendar"></span>
                Joined: {{ user.joinDate | date:'dd MMMM yyyy' }}</small>
          </center>
        </p>
        <button ng-click="updateUserProfile()" role="button"
            class="btn btn-primary btn-sm btn-block">Update Profile</button>
        <a ng-href="#!/profile/{{ user.username }}" role="button"
            class="btn btn-primary btn-sm btn-block">View Profile</a>
      </div> <!-- caption -->
    </div> <!-- thumbnail -->
  </div> <!-- col-PROFILE BOX -->

  <div class="col-md-6">
    <!-- PROFILE FORM -->
    <div class="well">
      <form class="form-horizontal">

        <div class="form-group">
          <label class="control-label col-sm-4" for="dispName">Display Name:</label>
          <div class="col-sm-8">
            <input ng-model="user.dispName" type="text" class="form-control" id="dispName"/>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-4" for="username">Username:</label>
          <div class="col-sm-8">
            <input ng-model="user.username" type="text" class="form-control" id="username"/>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-4" for="email">E-Mail:</label>
          <div class="col-sm-8">
            <input ng-model="user.email" type="text" class="form-control" id="email"/>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-4" for="tagline">Tag Line:</label>
          <div class="col-sm-8">
            <input ng-model="user.tagline" type="text" class="form-control" id="tagline"/>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-4" for="profPicUrl">Profile Picture:</label>
          <div class="col-sm-8">
            <button ng-click="updateProfilePic" type="submit" class="btn btn-sm btn-block">Upload</button>
          </div>
        </div>

    </div> <!-- well -->
  </div> <!-- col -->

  <div class="col-md-3">
    <div class="well">
      <center>
        <span class="glyphicon glyphicon-user"></span><b> Following
            ({{ user.following.length }})</b>
      </center>
      <div ng-repeat="userT in user.following.users">
        <div class="well well-sm">
          <a ng-href="#!/profile/{{ userT.username }}">
            <div class="media-left media-middle">
              <img ng-src="{{ userT.profPicUrl }}" alt="Profile Pic"
                class="media-object img-rounded" style="height: 35px; width: 35px"/>
            </div>
            <div class="media-right media-middle">
              <b>{{ userT.dispName }}</b><br/>
              <i>{{ userT.username }}</i>
            </div>
          </a>
        </div> <!-- well -->
      </div> <!-- ng-repeat -->
    </div> <!-- well -->

    <div class="well">
      <center>
        <span class="glyphicon glyphicon-user"></span><b> Followers
            ({{ user.followers.length }})</b>
      </center>
      <div ng-repeat="userT in user.followers.users">
        <div class="well well-sm">
          <a ng-href="#!/profile/{{ userT.username }}">
            <div class="media-left media-middle">
              <img ng-src="{{ userT.profPicUrl }}" alt="Profile Pic"
                class="media-object img-rounded" style="height: 35px; width: 35px"/>
            </div>
            <div class="media-right media-middle">
              <b>{{ userT.dispName }}</b><br/>
              <i>{{ userT.username }}</i>
            </div>
          </a>
        </div> <!-- well -->
      </div> <!-- ng-repeat -->
    </div> <!-- well -->
  </div> <!-- col -->

</div> <!-- row -->
</div> <!-- END View -->


